- contribution = @notification.contribution
| Olá
br/
br/
| O apoio #{contribution.key} para o corredor #{contribution.project.name} foi confirmado com o valor menor do valor do apoio do corredor.
br/
br/
